<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <form name="editForm" class="col-lg-12">
            <div class="row">
                <div class="col-md-2">
                    Nazwa:
                </div>
                <div class="col-md-10">
                    <input type="text" name="Name" class="form-control" ng-model="dish.Name" required />
                    <span class="errorMessage" ng-show="editForm.Name.$touched && editForm.Name.$invalid">
                        Nazwa jest wymagana
                    </span>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-2">
                    Obrazek:
                </div>
                <div class="col-md-10">
                    <input type="text" name="Photo" class="form-control" ng-model="dish.PhotoPath" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    Przepis:
                </div>
                <div class="col-md-10">
                    <textarea type="text" name="Recipe" class="form-control" ng-model="dish.Recipe" rows="5" required></textarea>
                    <span class="errorMessage" ng-show="editForm.Recipe.$touched && editForm.Recipe.$invalid">
                        Przepis jest wymagany
                    </span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    Poziom:
                </div>
                <div class="col-md-10">
                    <input type="text" name="DifficultyLevel" class="form-control" ng-model="dish.DifficultyLevelId" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    Kategoria:
                </div>
                <div class="col-md-10">
                    <input type="text" name="Category" class="form-control" ng-model="dish.CategoryId" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2">
                    <button class="btn btn-default" type="submit" ng-click="addDish()">Wyślij</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>
